* {
    margin: 0;
}
body {
    padding: 20px;
}
.view-frame {
    width: 250px;
    position: relative;
    display: block;
    margin: auto;
    text-align: center;
    color: white;
}
.view-frame img {
    position: absolute;
}
.head {
    top: 5px;
    left: 109px;
    z-index: 3;
    animation-name: breathing-head;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.torso {
    top: 90px;
    left: 36px;
    z-index: 2;
    animation-name: breathing-torso;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.r-arm {
    top: 175px;
    left: 196px;
    z-index: 0;
    animation-name: breathing-r-arm;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.l-arm {
    top: 159px;
    left: 3px;
    z-index: 3;
    animation-name: breathing-l-arm;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.r-leg {
    top: 420px;
    left: 143px;
    z-index: 1;
}
.l-leg {
    top: 400px;
    left: 39px;
    z-index: 2;
}

@keyframes breathing-head {
    0% {top:5px;left:109px;}
    50% {top:17px;left:112px;}
    100% {top:5px;left:109px;}
}
@keyframes breathing-torso {
    0% {top:90px;}
    50% {top:95px;}
    100% {top:90px;}
}
@keyframes breathing-l-arm {
    0% {top:159px;}
    50% {top:164px;}
    100% {top:159px;}
}
@keyframes breathing-r-arm {
    0% {top:175px;}
    50% {top:180px;}
    100% {top:175px;}
}