* {
    margin: 0;
}
body {
    padding: 20px;
}
.view-frame {
    width: 250px;
    position: relative;
    display: block;
    margin: auto;
    text-align: center;
    color: white;
}
.view-frame img {
    position: absolute;
}
.head {
    top: 0;
    left: 80px;
    z-index: 3;
    animation-name: breathing-head;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.torso {
    top: 60px;
    left: 47px;
    animation-name: breathing-torso;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.r-arm {
    top: 82px;
    left: 23px;
    z-index: 2;
    animation-name: breathing-r-arm;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.l-arm {
    top: 70px;
    left: 130px;
    z-index: -5;
    animation-name: breathing-l-arm;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.r-leg {
    top: 185px;
    left: 39px;
    z-index: -2;
}
.l-leg {
    top: 210px;
    left: 102px;
    z-index: -3;
}

@keyframes breathing-head {
    0% {top:0px;}
    50% {top:8px;}
    100% {top:0px;}
}
@keyframes breathing-torso {
    0% {top:60px;}
    50% {top:65px;}
    100% {top:60px;}
}
@keyframes breathing-l-arm {
    0% {top:70px;}
    50% {top:75px;}
    100% {top:70px;}
}
@keyframes breathing-r-arm {
    0% {top:82px;}
    50% {top:87px;}
    100% {top:82px;}
}