@import url('https://fonts.googleapis.com/css2?family=Hubballi&display=swap');
body {
    background-color: #000;
    overflow-x: hidden;
    font-family: 'Hubballi', cursive;
}
h3 {
    margin-top: 20px;
    color: #fff;
    text-align: center;
    font-weight: 600;
}
.featuredbox {
    background-color: #001f0b;
    margin-left: 2px;
    margin-right: 2px;
    padding: 1px;
    border: solid #00d34c;
    border-width: 2px 2px 2px 2px;
}
.featuredbox h5 {
    font-size: 15px;
    margin-bottom: 0;
    margin-top: 13px;
    font-weight: 600;
    text-align: center;
    color: #fff;
}

.featuredbox p {
    font-size: 16px;
    margin-left: 4px;
    margin-right: 2px;
    margin-top: 3px;
    text-align: center;
    color: #fff;
}